form{
margin: 40px 20px;
}
span.edu {
    color: red;
    font-weight: 600;
    font-size: 24px;
}

span.ca {
    color: rgb(51, 240, 51);
    font-weight: 600;
    font-size: 24px;
}
.nav{
    background-color: black;
    height: 60px;

}
.head{
    margin-top: 40px;
}
.home{
    list-style: none;
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
}

ul li{
    display: inline-block;
}
    
ul li a{
    text-decoration: none;
    color: white;
     background-color: black;
  
    
}
li a{
    font-size: 25px;
    align-items: center;
}

ul,li,a{
    height: 90px;
    padding-left: 10px;
    padding-right: 10px;
    
}


